-
	menu = [
		{	
			"title": "Главная",
			"link": "/",
			"submenu": [
				{
					"title": "Пункт 1",
					"link": "/",
				},
				{
					"title": "Пункт 2",
					"link": "/",
				},
				{
					"title": "Пункт 3",
					"link": "/",
				},
			]
		},
		{	
			"title": "О компании",
			"link": "about.html",
		},
		{	
			"title": "Новости",
			"link": "news.html",
		},
		{	
			"title": "Контакты",
			"link": "contacts.html",
		},
	];