extends includes/layout.pug

block variables
	- let pageTitle = "Главная";
	- let description = "Описание для главной страницы";
block content
	div.main__container
		//- include ./blocks/help.pug
		h1= pageTitle
