include variables.pug

doctype html
html(lang="ru")
	block variables
	head 
		block head
			meta(charset="UTF-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			title #{pageTitle} | site name
			meta(name='viewport', content='width=device-width, initial-scale=1')
			meta(name="format-detection", content="telephone=no")
			//- meta(name='viewport', content='width=1320px, initial-scale=1')
			link(href="styles/main.min.css" rel="stylesheet")
			//- include blocks/favicons
	body
		div.wrapper#wrapper
			include blocks/header
			main.content
				block content
					include blocks/crumbs
			include blocks/footer
		block scripts
			script(src="scripts/main.min.js" defer)
